html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color: #f4f6f9;
    display: flex;
    flex-direction: column;
}

.notification-bell {
    position: relative;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.notification-dropdown {
    z-index: 1000;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider,
.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
    width: 100%;
    height: 700px;
}

@media (max-width:768px) {
    .slider,
    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-slide {
        height: 350px;
    }
}

.slide-item {
    position: relative;
    height: 100%;
}

    .slide-item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
